<%- include('partials/header.ejs') %>


<h1>yeha tak pohuch k toh dekhao</h1>



<a class="btn btn-primary btn-lg" href="/logout" role="button">Log Out</a>







<%- include('partials/footer.ejs') %>