
body{

    text-align: center;
      background-image: linear-gradient(to right , orange , violet);
    
    }
    
    .card-1{
      display: inline-block;
        height : 85%;
        width : 25%;
        border-radius: 25px;
        background-color: beige;
        position: relative;
       left : 300px;
       bottom : 100px;
        box-shadow: 10px 10px 8px #888888;
       z-index: 1;
    }
    .heading{
        position: relative;
        left: 3px;
    }
    
    .card-inside{
    
        padding : 15px 15px;
       position : relative;
       top : 10px;
       left : 2px;
    
    }
    .text{
        font-family: Raleway;
        font-size: 600%;
        color: beige;
        display: block;
    
    }
    
    .text-container{
    
       position : relative;
       width : 50%;
       height : 100%;
       left : 30px;
       top : 15px;
       display: inline-block;
       z-index : 1;
       margin : 0px 0px;
    }
    
    .nav-div{
      background-image: linear-gradient(to right , violet 70%, blue);
        border : 0px 0px ;
    }
    .brand{
        position : relative;
        left : 10px;
        font-family: Raleway;
    }
    
    @media(max-width: 1300px){
    
    
    
    .text-container{
      margin : auto auto;
      position: static;
      display : block;
      text-align: center;
    }
    
    .card-1{
      margin-top: 15%;
      display : block;
      width : 40%;
      height : 85%;
    
    }
    
    body{
      text-align: center;
    }
    
    .container-fluid{
    
      text-align: center;
    }
    
    .button-signIn{
      position : relative;
      left  60%;
      width : 500%;
    }
    
    
    
    
    
    
    
    
    }
    